<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <div class="col-md-4">
    <ul>
      <li><strong>Views:</strong> {{ restaurant.viewCounts }}</li>
      <li><strong>Comments:</strong> {{ restaurant.Comments.length }}</li>
      <li><strong>Favorites:</strong> {{ restaurant.LikedUsers.length }}</li>
    </ul>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
<div>